[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://{{MONGODB_HOST}}:27017/catalogue"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target


#The mongodb domain will substitue by using variables it checks all the places like cmd,task,file,promt etc based on preference.